<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TestService.Properties.Settings>
            <setting name="TestService_FrameService_FramesDataWs" serializeAs="String">
                <value>http://www.framesdata.com/FDWS/FramesDataWs.asmx</value>
            </setting>
        </TestService.Properties.Settings>
    </applicationSettings>
  <appSettings>
    <add key="ConnStr" value="data source=66.29.212.45;initial catalog=dev.optisuite.mobi;User ID=sa; Password=Angela2002"/>
    
  </appSettings>
</configuration>